@font-face {
  font-family: "Cerebri Sans";
  src: url(font/CerebriSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Cerebri Sans Bold";
  src: url(font/CerebriSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Cerebri Sans Extra Bold";
  src: url(font/CerebriSans-ExtraBold.ttf) format("truetype");
}
html,
body,
#main-container {
  height: 100%;
}
html,
body {
  font-family: "Cerebri Sans", Verdana, Tahoma;
}
p {
  color: #b8b8b8;
}
a,
a:hover,
a:visited {
  color: #000000;
}

.uppercase {
  text-transform: uppercase;
}
.bold {
  font-family: "Cerebri Sans Bold";
  letter-spacing: 2px;
  font-size: 14px;
}

/*--------------------------------HEADER--------------------------------*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  padding: 25px 50px;
}
#header #naix-link {
  font-family: "Cerebri Sans Extra Bold", Verdana, Tahoma;
  font-size: 23px;
}
#header #menu:hover {
  text-decoration: none;
}
#header #menu span {
  font-family: "Cerebri Sans Extra Bold";
  margin-right: 7px;
  font-size: 12px;
}
/*--------------------------------HEADER--------------------------------*/

/*--------------------------------FOOTER--------------------------------*/

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 25px 50px;
}

#footer i {
  margin-left: 15px;
}
/*--------------------------------FOOTER--------------------------------*/

/*--------------------------------CONTAINER--------------------------------*/
#container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#container,
#container .row,
#container .col-20-percent {
  height: 100%;
}
#container .col-20-percent {
  border-right: 1px solid #f0f0f0;
  width: 20%;
  padding: 0;
  float: left;
  padding-top: 110px;
}
/*--------------------------------CONTAINER--------------------------------*/

/*--------------------------------COL-1--------------------------------*/
#col-1 #all-projects {
  transform: rotate(270deg) !important;
  position: absolute;
  margin-top: 290px;
  /* margin-left: -50px; */
}
/*--------------------------------COL-1--------------------------------*/

/*--------------------------------COL-2--------------------------------*/
#col-2 h1 {
  font-family: "Cerebri Sans Extra Bold", Verdana, Tahoma;
  font-size: 64px;
  margin-top: 115px;
}
#col-2 h1 small {
  display: block;
  text-align: right;
  font-size: 14px;
  letter-spacing: 6px;
}

#col-2 #text-content {
  position: absolute;
  z-index: 1;
}
#col-2 #text-content p {
  width: 50%;
  margin-top: 65px;
  margin-bottom: 150px;
}
/*--------------------------------COL-2--------------------------------*/

/*--------------------------------COL-4--------------------------------*/
#col-4 #h2-img {
  position: absolute;
  right: 20%;
}
/*--------------------------------COL-4--------------------------------*/

/*--------------------------------COL-5--------------------------------*/
#col-5 #arrows {
  float: right;
  margin-right: 50px;
  margin-top: 250px;
}
#col-5 #up {
  background-image: url(img/up-arrow-grey.png);
  height: 35px;
  display: block;
  width: 35px;
  background-size: contain;
  margin-bottom: 15px;
}
#col-5 #up:hover {
  background-image: url(img/up-arrow.png);
}
#col-5 #down {
  background-image: url(img/down-arrow-grey.png);
  height: 35px;
  display: block;
  width: 35px;
  background-size: contain;
}
#col-5 #down:hover {
  background-image: url(img/down-arrow.png);
}
/*--------------------------------COL-5--------------------------------*/
